0 */2 * * * ees_zoom -c ~/config.yml incremental-sync >> ~/incremental-sync.log 2>&1
0 0 */2 * * ees_zoom -c ~/config.yml full-sync >> ~/full-sync.log 2>&1
0 * * * * ees_zoom -c ~/config.yml deletion-sync >> ~/deletion-sync.log 2>&1
*/5 * * * * ees_zoom -c ~/config.yml permission-sync >> ~/permission-sync.log 2>&1
